.title {
  font-size: 3rem;
  text-align: center;
  margin-top: 1rem;
  position: sticky;
  top: 0;
  background: var(--white);
  z-index: 100;
  width: 100%;
}

@keyframes span {
  0% {
    color: var(--gray);
  }
  100% {
    color: var(--primary);
  }
}

.title > span {
  font-weight: 900;
  color: var(--gray);
}

.title > span:nth-of-type(1) {
  animation: span 1s linear 2s infinite alternate-reverse forwards;
}
.title > span:nth-of-type(2) {
  animation: span 1.5s linear 1.5s infinite alternate-reverse forwards;
}
.title > span:nth-of-type(3) {
  animation: span 2s linear 1s infinite alternate-reverse forwards;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.section {
  width: min(90%, 1000px);
  align-self: center;
}

.section > h2:first-child {
  position: relative;
  color: var(--black);
  font-size: 2rem;
  padding-left: 1rem;
  padding-block: 0.2rem;
  vertical-align: middle;
  transition: all 250ms linear;
  position: sticky;
  top: 3.5rem;
  background-color: var(--white);
  z-index: 99;
}

.section > .content {
  margin-top: 3rem;
  width: 95%;
  margin-inline: auto;
  padding-bottom: 1rem;
}

.section > .content > p:not(:first-child) {
  margin-top: 1rem;
}

.section > .content > h5.info {
  font-weight: 600;
  font-size: 1.2rem;
  position: relative;
  padding-block: 0.5rem;
  padding-left: 1rem;
}

.section > .content > h5.info:not(:first-child) {
  margin-top: 1rem;
}

.section > .content > h5.info::before {
  content: "";
  background-color: var(--primary);
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
}

.link {
  text-decoration: none;
  color: var(--primary);
  background-image: linear-gradient(45deg, var(--primary), 80%, transparent);
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: bottom left;
  cursor: pointer;
  transition: background-size 200ms ease;
}

.link:hover {
  background-size: 100% 3px;
}

.code-title {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.goto {
  color: var(--primary);
  padding-right: 1rem;
  cursor: pointer;
  background-image: linear-gradient(var(--primary), var(--primary));
  background-repeat: no-repeat;
  text-decoration: none;
  background-size: 0% 3px;
  background-position: bottom left;
  transition: background-size 200ms linear;
}

.goto:hover {
  background-size: 70% 3px;
}

.heart {
  color: var(--red);
}

footer {
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
  margin-inline: auto;
  background-color: var(--dark);
}

footer > div {
  width: min(90%, 1000px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  flex-wrap: wrap;
  margin: auto;
}

@media screen and (max-width: 870px) {
  footer > div {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

footer img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

footer p {
  font-weight: 600;
  color: var(--white);
}

footer p:not(:first-child) {
  margin-top: 0.5rem;
}

footer p > a {
  color: var(--primary);
}
